exportPattern("^[[:alpha:]]+")
exportClasses("tmb_model",
              "tmb_list")
exportMethods('make_tmb_lists',
              'build_tmb',
              'marginal_plot')
importFrom("stats", "lm", "rnorm", "runif", 'dnorm')
import('RTMB','lme4', 'ggplot2', 'tidyr', 'dplyr')
export('f')
